body {
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #545151;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.link {
  text-decoration: none;
}
.organization,
.education_place {
  margin-bottom: 6px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.img_box {
  display: none;
  width: 160px;
  border-radius: 10% 5% 30% 5%;
  overflow: hidden;
}
.about,
.projects,
.work {
  margin-bottom: 30px;
  padding-right: 50px;
}
.about_name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #fff;
  margin-bottom: 25px;
}
.wrapper {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 6px 10px 28px 0px rgba(0, 0, 0, 0.4);
}
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}
.sidebar_title,
.languages {
  color: #545151;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
.contact_type {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #545151;
  margin-right: 8px;
}
.contact_link,
.adress_link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #545151;
}
.tech_skills_list,
.soft_skills_list,
.interests_list,
.languages_list {
  color: #545151;
  padding: 0;
  margin-left: 17px;
}
.tech_skills_item,
.soft_skills_item,
.languages_item,
.interests_list_item {
  color: #d3511a;
}
.tech_skills_text,
.soft_skills_text,
.interests_list_text,
.languages_text {
  color: #545151;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
@media screen and (min-width: 480px) {
  .wrapper {
    width: 480px;
  }

  .img_box {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 768px;
  }
  main {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    padding-top: 40px;
    padding-left: 30px;
    gap: 40px;
    padding-left: 50px;
  }
  .img_box {
    width: 230px;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
  }
  main {
    gap: 80px;
    padding-left: 80px;
  }
}

.about_description {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 20px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #848484;
  padding: 40px;
  padding-top: 60px;
  text-align: right;
  padding-left: 50%;
  color: white;
  font-size: 20px;
}

.main_content {
  padding-top: 160px;
  padding-bottom: 20px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
  /* width: 500px; */
  z-index: 1;
  background-color: #f7e0c1;
  padding-top: 60px;
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.contact_link {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: left;
}
.contact_link {
  margin-bottom: 8px;
}
.period {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}
.line {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.faculty {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  margin-bottom: 10px;
  color: #545151;
}
.work_list_item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #595959;
}

/* body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7fa;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
p {
  margin: 0;
}
.main {
  margin: 0 auto;
  max-width: 1200px;
}
.adress_link {
  padding-left: 10px;
  padding-top: 10px;
  color: white;
}


.about {
  margin-bottom: 40px;
}
.about_position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}

.about_name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}

.about_description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}

.projects {
  margin-bottom: 50px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

.projects_list {
  padding: 0;
  margin-left: 15px;
}

.project_item {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.project,
.project_link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}
.project_link {
  margin-left: 10px;
}

.project_bracket {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.work {
  margin-bottom: 45px;
}
.work_position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}
.organization,
.education_place {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.work_list {
  padding: 0;
  margin-left: 15px;
}
.work_list_item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}




.education_place {
  margin-bottom: 10px;
}

.sidebar {
  background-color: rgb(63, 62, 62);
  padding-top: 0px;
  padding-bottom: 40px;
  min-width: 390px;
}
.photo {
  display: none;
  width: 270px;
}
.contacts,
.tech_skills,
.soft_skills,
.interests,
.interests {
  margin-left: 40px;
}
.contacts,
.tech_skills,
.soft_skills {
  margin-bottom: 50px;
}
.sidebar_title {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}


@media screen and (min-width: 900px) {
  .main_content {
    padding: 90px;
  }
  .photo {
    display: block;
  }
  .sidebar {
    padding: 20px;
    padding-top: 60px;

  }
  .sidebar-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .main_content {
    padding: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
  }
  .about_description,
  .projects_list .work,
  .education,
  .period,
  .work_list_item,
  .tech_skills_text,
  .soft_skills_text,
  .interests_list_text,
  .contact_link {
    font-weight: 500;
    font-size: 16px;
  }
  .work_position,
  .faculty,
  .education_place,
  .organization,
  .project_link {
    font-size: 16px;
  }

  .img_box {
    max-width: 250px;
  }
  .photo {
    width: 100%;
  }
  .sidebar {
    width: 370px;
    display: block;
  }
} */
